/* Body */
body{
    background-color: #c4d6d3;
    color: rgb(3, 19, 107);
}

/* Navbar */
.navbar{
    max-height: 100px;
    background-color: #fc0612;
}
h1 {
    padding-left: 15px;
}   
h4{
    color: #0d0444;
    font-weight: bold;
    font-family: Georgia, 'Tahoma', Times, serif;
    font-size: 14;
}
h3 {
    color: #322053;
    font-weight: bold;
    font-family: Georgia, 'Tahoma', Times, serif;
    padding-top: 25px;
    font-size: 16;
}

h5 {
    color: #021b05;
    font-weight: bold;
    font-family: Georgia, 'Tahoma', Times, serif;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14;
}


.navigation.navbar-brand{
    color: rgb(19, 5, 202);
    margin-left: 50px;
    padding-left: 150px;
    font-weight: bold;
    background-color: rgb(228, 238, 236);
    font-family: Georgia, 'Tahoma', Times, serif;
    font-size: 25;
}

.navbar{
    background-color: rgb(155, 217, 236);
    font-size: 20px;
    
}
a{
    color: #11063f;
    font-size: 20px;
}

/* Images */

img{
    width:100% ;
    height:100%;
}

/* header for comparison page */
.imageNav-header {
    color: #be1919;
    font-weight: bold;
    font-size: 16;
    text-align: right;
}

/* Paragraph*/
p{
color: black;
font-family: calibri, Helvetica, sans-serif;
font-size: 16px;
padding-left: 10px;
padding-right: 25px;
text-align: justify;
text-justify: inter-word;
}
p.i {
    font-style: italic;
}


/* Footer */
footer{
background-color: #a58a8a;
border-top-style: solid;
border-top-width: 5px;
border-top-color: rgb(49, 145, 132);
color: rgb(246, 248, 247);
min-height: 55px;
font-family: Arial, Tahoma, sans-serif;
font-size: 12px;
text-align: center;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
padding-top: 10px;
}

/* Media Queries */
@media(max-width: 992px){
.navbar-expand-lg{
background-color: rgb(233, 221, 221);
}
/* Media query for body */
@media only screen and (max-width: 767px) {
    /* Set background color to white on small screens */
    body {
      /* Visual */
      background-color: rgb(226, 215, 215);
    }
  }
  
.navbar{
    max-height: none;
    padding: inherit;
}

.navbar div{
    margin: inherit;
    background-color: rgb(219, 200, 200); 
}

.navbar-brand{
    padding: 15px;
}

button{
    margin-right: 20px;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focusring-color;
    }
}